:root {
    --theme-color-one: #C8102E;
    --heading-color: #2b2c2d;
    --color-white: #fff;
    --para-color: #48494a;

}

/*text color*/

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}
p {
    color: var(--para-color);
}