html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;  /* Remove scrollbar space */
  background:#f7f7f7 ;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}


/** SPINNER CREATION **/

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/** MODAL STYLING **/

/** MODAL STYLING **/

.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.75;
}

.loader-txt p{
  font-size: 13px;
  color: #666;
}


/** Banner Modal and Autocomplete **/
.modal-custom-address {
  max-width: 700px !important;
  margin: 60px auto !important;
  padding: 15px;
}

.autocomplete-dropdown-container {
  background-color: #fff;
  position: absolute;
  width: 95%;
  padding: 0 5px;
  z-index: 999999;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.suggestion-item {
  font-size: 1rem;
  min-height: 38px;
  line-height: 38px;
  padding: 0px 16px;
}

.suggestion-item:first-child {
  margin-top: 5px;
}
.suggestion-item:last-child {
  margin-bottom: 5px;
}

.suggestion-item--active {
  font-size: 1.05rem;
  min-height: 38px;
  line-height: 38px;
  padding: 0px 16px;
  border-radius: 5px;
}
.suggestion-item--active:first-child {
  margin-top: 5px;
}

.suggestion-item--active:last-child {
  margin-bottom: 5px;
}

.modal-custom-address-search {
  width: 100%;
  text-align: center;
  height: 5px;
}

.modal-custom-address-search-btn {
    display: block;
    margin: -80px auto 30px auto;
    padding: 12px 60px !important;
}

.md-form .input-group-prepend {
  border-bottom: 1px solid #ced4da !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #4285f4 !important;
}

.ant-input-password input.ant-input {
    border: none !important;
}

.ant-input-affix-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-input-affix-wrapper > input {
   border: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cart-count {
  position: absolute;
  right: -14px;
  margin-top: -6px;
  display: block;
  padding: 2px;
  background: #c8102f;
  border-radius: 20px;
  height: 18px;
  width: 18px;
  font-size: 10px;
  color: white;
}

.add_texted p{
  padding-top: 10px !important;
  font-size: 15px;
}

.pac-container { z-index: 100000 !important; }